<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Average Placement Calculator</title>
    <link rel="stylesheet" href="css/front.css">
    <script src="js/main.js"></script>
    <script src="js/api.js"></script>
    <script src="js/ui.js"></script>
</head>
<body>
<div class="container">
    <h1>Add Friend</h1>
    <div id="friendForm">
        <div class="form-group">
            <label for="friendGameName">Friend game name:</label>
            <input type="text" id="friendGameName">
            <label for="friendRiotTag">Friend riot tag:</label>
            <input type="text" id="friendRiotTag">
        </div>
        <button type="submit" onclick="addFriend()">Add friend</button>
    </div>
</div>

</body>
</html>
