<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/logging.css">
</head>
<body>

    <h1>LOGIN PAGE</h1>

    <div class="container">
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>

    <p>Don't have an account? <a href="/register.html">Sign up here</a></p>

</body>
</html>