<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P1H Tactics</title>
    <link rel="stylesheet" href="css/front.css">
    <script src="js/main.js"></script>
    <script src="js/api_local.js"></script>
    <script src="js/ui.js"></script>
</head>
<body>

    <div class="main-section">

        <div class="tabs">
            <button class="tab-button active" data-target="calculator-section">Average Calculator</button>
            <button class="tab-button" data-target="addFriend-section">Add friend</button>
            <button class="tab-button" data-target="ranking-section">Ranking</button>
            <button class="tab-button" data-target="event-section">Event</button>
        </div>

        <div class="tab-content" id="tab-content">
            <div class="container" id="calculator-section">
                <h1>Average Placement Calculator</h1>
                <div id="calcForm">
                    <div class="form-group">
                        <label for="userSelect">Select User:</label>
                        <select id="userSelect" required>
                            <option value="">-- Select User --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modeSelect">Select Game Mode:</label>
                        <select id="modeSelect" required>
            <!--                <option value="all" selected>All</option>-->
                            <option value="1100" selected>Ranked</option>
                            <option value="1090">Normal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="setSelect">Select Set:</label>
                        <select id="setSelect" required>
                            <option value="13" selected>13</option>
                            <option value="14">14</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="matchLimit">Limit of matches:</label>
                        <input type="number" id="matchLimit">
                    </div>
                    <button type="submit" onclick="calculateAverage()">Calculate Average</button>
                </div>
                <div id="result" class="result"></div>
            </div>
            <div class="container hidden" id="addFriend-section">
                <h1>Add Friend</h1>
                <div id="friendForm">
                    <div class="form-group">
                        <label for="friendGameName">Friend game name:</label>
                        <input type="text" id="friendGameName">
                        <label for="friendRiotTag">Friend riot tag:</label>
                        <input type="text" id="friendRiotTag">
                    </div>
                    <button type="submit" onclick="addFriend()">Add friend</button>
                    <div id="errorMessageFriend"></div>
                </div>
            </div>
            <div class="container hidden" id="ranking-section">
                <div class="form-group">
                    <label for="rankingSetSelect">Select Set:</label>
                    <select id="rankingSetSelect" onchange="loadRanking()">
                        <option value="13">13</option>
                        <option value="14" selected>14</option>
                    </select>
                    <label for="rankingModeSelect">Select Set:</label>
                    <select id="rankingModeSelect" onchange="loadRanking()">
                        <option value="1100" selected>Ranked</option>
                        <option value="1160">Double Up</option>
                    </select>
                </div>
                <div class="ranking-table" id="ranking-table">
                    <div class="ranking-header">
                        <span class="column-item">Summoner</span>
                        <span class="column-item">Average Placement</span>
                    </div>
                </div>
            </div>
            <div class="container hidden" id="event-section"></div>
        </div>

    </div>


    <div class="right-section">
        <div class="friends-info" id="friendsInfo">
            <h3>Friend List</h3>
            <ul id="friendList"></ul>
        </div>
    </div>


</body>
</html>
